# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#vim backup
*.swp
*.swo

#python precompiled
*.pyc

#gedit backup
*~

#datasets
datasets/*

#obj files
*.obj
*.mtl

#matlab folder
matlab/*

#csv files
*.csv

#idea files
.idea/*


.vscode/*
*/.vscode/*

build/CATKIN_IGNORE
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestConfiguration.ini
build/CTestCustom.cmake
build/CTestTestfile.cmake
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-52b112484f87153313ce.json
build/.cmake/api/v1/reply/codemodel-v2-8651d0099e83c8695ce9.json
build/.cmake/api/v1/reply/index-2022-04-26T15-54-02-0337.json
build/.cmake/api/v1/reply/target-_catkin_empty_exported_target-Debug-a792087ef60af2e67b89.json
build/.cmake/api/v1/reply/target-clean_test_results-Debug-5298c11c0f83a0c8638f.json
build/.cmake/api/v1/reply/target-download_extra_data-Debug-9c004c066442ffd3f9a6.json
build/.cmake/api/v1/reply/target-doxygen-Debug-8afb2dd64d0cd4a59f1c.json
build/.cmake/api/v1/reply/target-gmock_main-Debug-2ca29ecc9e7df46a4659.json
build/.cmake/api/v1/reply/target-gmock-Debug-43d20f39d68640061f84.json
build/.cmake/api/v1/reply/target-gtest_main-Debug-cab9dde6bfe09e35b06e.json
build/.cmake/api/v1/reply/target-gtest-Debug-d898f45654e826fa9517.json
build/.cmake/api/v1/reply/target-run_tests-Debug-11e8c302418947de974d.json
build/.cmake/api/v1/reply/target-tests-Debug-f11c9d6fe22c5df83853.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/_catkin_empty_exported_target.dir/build.make
build/CMakeFiles/_catkin_empty_exported_target.dir/cmake_clean.cmake
build/CMakeFiles/_catkin_empty_exported_target.dir/DependInfo.cmake
build/CMakeFiles/_catkin_empty_exported_target.dir/progress.make
build/CMakeFiles/clean_test_results.dir/build.make
build/CMakeFiles/clean_test_results.dir/cmake_clean.cmake
build/CMakeFiles/clean_test_results.dir/DependInfo.cmake
build/CMakeFiles/clean_test_results.dir/progress.make
build/CMakeFiles/download_extra_data.dir/build.make
build/CMakeFiles/download_extra_data.dir/cmake_clean.cmake
build/CMakeFiles/download_extra_data.dir/DependInfo.cmake
build/CMakeFiles/download_extra_data.dir/progress.make
build/CMakeFiles/doxygen.dir/build.make
build/CMakeFiles/doxygen.dir/cmake_clean.cmake
build/CMakeFiles/doxygen.dir/DependInfo.cmake
build/CMakeFiles/doxygen.dir/progress.make
build/CMakeFiles/run_tests.dir/build.make
build/CMakeFiles/run_tests.dir/cmake_clean.cmake
build/CMakeFiles/run_tests.dir/DependInfo.cmake
build/CMakeFiles/run_tests.dir/progress.make
build/CMakeFiles/tests.dir/build.make
build/CMakeFiles/tests.dir/cmake_clean.cmake
build/CMakeFiles/tests.dir/DependInfo.cmake
build/CMakeFiles/tests.dir/progress.make
build/Testing/Temporary/LastTest.log
build/atomic_configure/_setup_util.py
build/atomic_configure/.rosinstall
build/atomic_configure/env.sh
build/atomic_configure/local_setup.bash
build/atomic_configure/local_setup.sh
build/atomic_configure/local_setup.zsh
build/atomic_configure/setup.bash
build/atomic_configure/setup.sh
build/atomic_configure/setup.zsh
build/catkin/catkin_generated/version/package.cmake
build/catkin_generated/env_cached.sh
build/catkin_generated/generate_cached_setup.py
build/catkin_generated/package.cmake
build/catkin_generated/pkg.develspace.context.pc.py
build/catkin_generated/pkg.installspace.context.pc.py
build/catkin_generated/python_distutils_install.sh
build/catkin_generated/safe_execute_install.cmake
build/catkin_generated/setup_cached.sh
build/catkin_generated/setup_py_interrogation.cmake
build/catkin_generated/installspace/_setup_util.py
build/catkin_generated/installspace/.rosinstall
build/catkin_generated/installspace/env.sh
build/catkin_generated/installspace/local_setup.bash
build/catkin_generated/installspace/local_setup.sh
build/catkin_generated/installspace/local_setup.zsh
build/catkin_generated/installspace/optimization_utils.pc
build/catkin_generated/installspace/optimization_utilsConfig-version.cmake
build/catkin_generated/installspace/optimization_utilsConfig.cmake
build/catkin_generated/installspace/setup.bash
build/catkin_generated/installspace/setup.sh
build/catkin_generated/installspace/setup.zsh
build/catkin_generated/stamps/optimization_utils/_setup_util.py.stamp
build/catkin_generated/stamps/optimization_utils/interrogate_setup_dot_py.py.stamp
build/catkin_generated/stamps/optimization_utils/package.xml.stamp
build/catkin_generated/stamps/optimization_utils/pkg.pc.em.stamp
build/catkin_generated/stamps/optimization_utils/setup.py.stamp
build/devel/_setup_util.py
build/devel/.catkin
build/devel/.rosinstall
build/devel/cmake.lock
build/devel/env.sh
build/devel/local_setup.bash
build/devel/local_setup.sh
build/devel/local_setup.zsh
build/devel/setup.bash
build/devel/setup.sh
build/devel/setup.zsh
build/devel/lib/pkgconfig/optimization_utils.pc
build/devel/lib/python3/dist-packages/OptimizationUtils/__init__.py
build/devel/share/optimization_utils/cmake/optimization_utilsConfig-version.cmake
build/devel/share/optimization_utils/cmake/optimization_utilsConfig.cmake
build/gtest/cmake_install.cmake
build/gtest/CTestTestfile.cmake
build/gtest/Makefile
build/gtest/CMakeFiles/CMakeDirectoryInformation.cmake
build/gtest/CMakeFiles/progress.marks
build/gtest/googlemock/cmake_install.cmake
build/gtest/googlemock/CTestTestfile.cmake
build/gtest/googlemock/Makefile
build/gtest/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
build/gtest/googlemock/CMakeFiles/progress.marks
build/gtest/googlemock/CMakeFiles/gmock.dir/build.make
build/gtest/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
build/gtest/googlemock/CMakeFiles/gmock.dir/depend.make
build/gtest/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
build/gtest/googlemock/CMakeFiles/gmock.dir/flags.make
build/gtest/googlemock/CMakeFiles/gmock.dir/link.txt
build/gtest/googlemock/CMakeFiles/gmock.dir/progress.make
build/gtest/googlemock/CMakeFiles/gmock_main.dir/build.make
build/gtest/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
build/gtest/googlemock/CMakeFiles/gmock_main.dir/depend.make
build/gtest/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
build/gtest/googlemock/CMakeFiles/gmock_main.dir/flags.make
build/gtest/googlemock/CMakeFiles/gmock_main.dir/link.txt
build/gtest/googlemock/CMakeFiles/gmock_main.dir/progress.make
build/gtest/googletest/cmake_install.cmake
build/gtest/googletest/CTestTestfile.cmake
build/gtest/googletest/Makefile
build/gtest/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
build/gtest/googletest/CMakeFiles/progress.marks
build/gtest/googletest/CMakeFiles/gtest.dir/build.make
build/gtest/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
build/gtest/googletest/CMakeFiles/gtest.dir/depend.make
build/gtest/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
build/gtest/googletest/CMakeFiles/gtest.dir/flags.make
build/gtest/googletest/CMakeFiles/gtest.dir/link.txt
build/gtest/googletest/CMakeFiles/gtest.dir/progress.make
build/gtest/googletest/CMakeFiles/gtest_main.dir/build.make
build/gtest/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
build/gtest/googletest/CMakeFiles/gtest_main.dir/depend.make
build/gtest/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
build/gtest/googletest/CMakeFiles/gtest_main.dir/flags.make
build/gtest/googletest/CMakeFiles/gtest_main.dir/link.txt
build/gtest/googletest/CMakeFiles/gtest_main.dir/progress.make
